@import "../common/example";
@import "../common/md";
@import "../../src/theme/slidetabs";
#slidetabs-example{
    height:100%;
}
.slidetabs-example{
    &>header{
        margin:0;
    }
    height:100%;
    px2px("font-size",14)
    display:flex;
    align-items:space-around;
    justify-content:flex-start;
    flex-direction:column;
    .slidetabs-example-inner{
        flex:1;
        height:100%;
        // overflow:hidden;
        // padding:0 px2rem(10);
        .slide-tabs{
            flex-direction:row-reverse;
        }
        .slide-tabs-item{
            border-bottom:px2rem(1) solid #DDD;
            h5{
                margin:0;
                padding:px2rem(10) px2rem(8);
                line-height:px2rem(25);
            }
            ul{
                li{
                    list-style:none;
                    padding:px2rem(10) px2rem(8);
                    line-height:px2rem(25);
                }
            }
        }
    }
}