.accordion {
    border: .05rem solid #DEDEDE;
    background: #FFF;
    margin-bottom: 1rem;
    .accordion-item {
        &:last-child {
            dt {
                border-bottom: 0 none;
            }
        }
        dt {
            padding: .4rem .5rem;
            line-height: 1.2rem;
            border-bottom: .05rem solid #DEDEDE;
        }
        dd {
            display: none;
        }
        &.active {
            dt {
                background: #F5F5F5;
                border-bottom: .05rem solid #DEDEDE;
            }
            dd {
                display: block;
                overflow: hidden;
                .accordion-content {
                    padding: .4rem .5rem;
                }
                border-bottom: .05rem solid #DEDEDE;
            }
        }
    }
}
