@import "../../common/example";
@import "../../common/md";
.numberpicker-example{
    font-size:px2rem(14);
}
.form-row{
    padding:px2rem(8) px2rem(10);
    max-width:px2rem(320)
    display:flex
    justify-content:center
    align-items:center
    &>label{
        width:30%;
    }
    &>div{
        width:70%;
        padding:0 0 0 px2rem(10);
    }
    .form-row-numberpicker{
        width:px2rem(130);
    }
}

