@import "../../common/example";
@import "../../common/md";
.tabs-example{
    px2px("font-size",14)
    .tabs-example-inner{
        padding:0 px2rem(10);

        .tabs{
            border:px2rem(1) solid #DDD;
        }
        .tabs-item>P{
            margin:0;
            padding:px2rem(8) px2rem(10);
            line-height:px2rem(22);
        }
    }
}
