@import "../common/example";
@import "../common/md";
@import "../../src/theme/slider";
.slider-example{
    px2px("font-size",14);
    height:100%;
    .slider-example-inner{
        height:100%;
        .md-card{
            margin:px2rem(10) px2rem(8);
        }
        .slider-vertical{
            .slides{
                clear:both;
            }
            .slide{
                display:block;
                // font-size: px2rem(30);
                line-height: px2rem(150);
                float:left;
            }
        }
    }
    &>header{
        margin:0;
    }
}