@import "../common/example";
@import "../common/md";
@import "../../src/theme/scrollspy";
.scrollspy-example{
    px2px("font-size",14)
    background: #FFF;
    font-size:px2rem(16);
    position: relative;
    .scroll-list{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        box-sizing: border-box;
        padding-right:px2rem(30);
        padding-bottom:px2rem(40);
        h4 {
            line-height:px2rem(40);
            padding: 0 0 0 px2rem(15);
        }
        h5 {
            background: $list-background;
            line-height: px2rem(25);
            padding: 0 0 0 px2rem(15);
        }
        ul {
            width: 100%;
            font-size: px2rem(15);
            line-height: px2rem(35);
            li {
                padding: 0 0 0 px2rem(15);
                border-bottom: $list-border;
                &:last-child {
                    border-bottom: 0 none;
                }
                color: $font-gray;
                &.active {
                    color: $pink-color;
                    display: flex;
                    &>span {
                        flex: none;
                        width: px2rem(60);
                        font-weight: 400;
                        font-size: px2rem(12);
                    }
                    &>b {
                        font-weight: 400;
                        flex: 1;
                    }
                }
            }
        }
    }
    .shortcut {
        width: px2rem(30);
        z-index: 1200;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        &>span {
            display: block;
            text-align: center;
            flex: none;
            width: 100%;
            font-size: px2rem(14);
            line-height: px2rem(20);
            font-weight: 700;
            text-shadow:px2rem(2) px2rem(2) px2rem(3) #DDD;
            &.active{
                color:$pink-color;
            }
        }
    }
}