@import "mixin";

.date-picker {
    &.invisible{
        visibility:hidden;
        height:0;
        padding:0;
        margin:0;
        width:0;
    }
    .date-picker-year-month {
        line-height: 2rem;
        font-size: .8rem;
        background: #F8F8F8;
        border-bottom: .05rem solid #EBEBEB;
        .prev-month,
        .next-month,
        .prev-year,
        .next-year {
            display: inline-block;
            width: 10%;
            text-align: center;
            color: #555;
        }
        .current-month-year {
            display: inline-block;
            width: 60%;
            text-align: center;
            .month-year-toggle {
                padding: .2rem 1rem;
                margin: .3rem 0;
                box-sizing: border-box;
                display: inline-block;
                line-height: 1rem;
                outline: 0 none;
                color:#888;
                b {
                    font-weight: 400;
                    padding: 0 .1rem;
                    color:#333;
                }
                &:hover {
                    background: #DDD;
                    border-radius: .15rem;
                }
            }
        }
    }
    .date-picker-week {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: .25rem 0;
        border-bottom: .05rem solid #DADADA;
        background: #F8F8F8;
        color:#888;
        .week-cell {
            flex: 1;
            text-align: center;
            font-size: .8rem;
        }
    }
    .date-picker-day {
        width: 100%;
        padding: .25rem 0;
        .day-cell {
            display: inline-block;
            width: 14.2%;
            font-size: .7rem;
            text-align: center;
            line-height: 1rem;
            padding:.3rem 0;
            box-sizing:border-box;
            &.selected {
                background:#DDD;
                border-radius:.1rem;
                font-weight: 700;
                font-size: .8rem;
                max-height:1.2rem;
                box-sizing: border-box;
                padding:.1rem 0 .2rem 0;
            }
            &.blank-day {
                font-size: 0;
            }
        }
    }
}

.time-picker {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    &.invisible{
        visibility:hidden;
        height:0;
        padding:0;
        margin:0;
        width:0;
    }
    &>div {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.5rem;
        &.time-picker-hour,
        &.time-picker-minute,
        &.time-picker-second {
            color: #FFF;
            border-radius: .25rem;
            padding: 0 .4rem;
            background-color: #555;
            background-image: linear-gradient(#000 0%, #3d3d3d 50%, #000 100%);
            .slider {
                overflow: hidden;
                padding: .5rem 0;
            }
            .slides {
                .slider:first-child {
                    transform: rotateX(30deg);
                }
                .slide {
                    display: block;
                    font-size: 0;
                    overflow: hidden;
                    clear: both;
                    &.prev {
                        transform: rotateX(30deg);
                    }
                    &.active {
                        & + .slide {
                            transform: rotateX(-30deg);
                        }
                        &>span {
                            color: #FFF;
                            transform: rotateX(0deg);
                        }
                        &.pseudo-slide>span{
                            transition-duration:0s;
                        }
                    }
                    &>span {
                        display: block;
                        text-align: center;
                        width: 100%;
                        color: #999;
                        float: left;
                        font-size: 1.5rem;
                        line-height: 1.6rem;
                    }
                    &.pseudo-slide>span{
                        transition-duration:0s;
                    }
                }
            }
        }
        &.time-picker-divider {
            font-size: 1rem;
            align-self: center;
            padding: 0 .25rem;
        }
    }
}

.datetime-toggle {
    border-top: .05rem solid #DADADA;
    &>span {
        display: inline-block;
        cursor: pointer;
        line-height: 1rem;
        padding: .3rem .5rem;
        font-size: .7rem;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        &>.iconfont {
            padding-right: .5rem;
        }
    }
}


.datetime-input{
    .dropdown-status .status{
        &>.selected-label{
            display:inline-block;
            border-radius:.15rem;
            border:.05rem solid #DDD;
            background:#E8E8E8;
            margin:.15rem .25rem .15rem 0;
            padding:.15rem .25rem;
        }
    }
    &>.dropdown-content{
        &::before,&::after{
            content:"";
            display:block;
            position:absolute;
            border-style:dashed dashed solid;
            border-color:transparent;
            border-image:none;
            border-width:0 .4rem .4rem;
            border-bottom-color:#555;
            position:absolute;
            top:-0.4rem;
            left:0.3rem;
            width:0;
            height:0;
        }
        &::after{
            border-bottom-color:#FFF;
            bottom:-0.25rem;
        }
        &.active{
            margin-top:0.5rem;
            border: 1px solid #CCC;
            box-shadow:0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.08);
        }
    }
}
