@import "../core/mixin.scss";
.selected{
    .selected-items{
        li{
            line-height:1rem;
            padding:.25rem 0;
            clear:both;
            overflow:hidden;
            width:100%;
            box-sizing:border-box;
            padding:.25rem .5rem;
            .selected-item{
                float:left;
                display:inline-block;
                @include text-overflow;
                width:80%;
            }
            .iconfont{
                float:right;
                font-size:.65rem;
                padding-left:.25rem;
                box-sizing:border-box;
                width:20%;
                color:rgba(14,144,210,1);
            }

            &.selected-group-header{
                border-bottom:1px solid #E5E5E5;
                border-top:1px solid #E5E5E5;
                background:#F8F8F8
            }
        }
    }
    &>.dropdown-content{
        &.active{
            margin-top:0.25rem;
            border: 1px solid #CCC;
            box-shadow:0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.08);
        }
    }

    .filter-input{
        position:relative;
        padding:.5rem;
        input{
            margin:0;
            padding:.25rem 1rem .25rem .25rem;
            outline:0 none;
            width:100%;
            box-sizing:border-box;
            line-height:.8rem;
            border:.05rem solid #CCC;
            border-radius:.1rem;
            color:#888;
            &::focus{
                border-color:rgba(14,144,210,1);
            }
        }
        .iconfont{
            position:absolute;
            display:block;
            width:1rem;
            height:1rem;
            color:#888;
            line-height:1rem;
            top:.75rem;
            right:.55rem;
            font-size:.65rem;
        }
    }
}