@import "./common/common";
@import "./common/util";
.slide-tabs{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    overflow:hidden;
    .slide-tabs-navbar{
        width:px2rem(50);
        .slide-tabs-navbar-item{
            line-height:px2rem(120);
            border-top:px2rem(1) solid #E0E0E0;
            border-bottom:px2rem(1) solid #E0E0E0;
            background-color:#f3f4f6;
            text-align:center;
            a{
                text-decoration:none;
            }
        }
    }
    .slide-tabs-content{
        flex:1
    }
}