@import "../common/example";
@import "../../src/theme/common/util";
@import "../common/md";
.index-example{
    px2px("font-size",14)
    h2{
        margin:px2rem(10) 0;
    }
    .md-data-table{
        width:100%
    }
}