@import "../common/example";
@import "../../src/theme/common/common";
@import "../common/md";
.index-example{
    font-size:px2rem(14);
    padding:px2rem(10) px2rem(8);
    h2{
        margin:px2rem(10) 0;
    }
    .md-data-table{
        width:100%
    }
}