@import "../common/example";
@import "../common/md";
@import "../../src/theme/popup";
#popup-example{
    height:100%;
}
.popup-example{
    font-size:px2rem(14);
    height:100%;
    .md-card{
        padding:px2rem(8) px2rem(6)
        margin:px2rem(6)
        h3{
            border-bottom:px2rem(1) solid rgba(0,0,0,.1);
            line-height:px2rem(24);
        }
    }
    
    .popup-bottons{
        margin:px2rem(10);
        button{
            margin:0 px2rem(6) px2rem(8) 0;
        }
    }
}
