@import "../common/example"
@import "../../src/theme/popup.styl"
#popup-example{
    height:100%;
}
.popup-example{
    font-size:.7rem;
    padding:.5rem 0;
    height:100%;
    .md-card{
        padding:.4rem .3rem
        margin:.3rem
        h3{
            border-bottom:1px solid rgba(0,0,0,.1);
            line-height:1.2rem;
        }
    }
    
    .popup-bottons{
        margin:.5rem;
        button{
            margin:0 .3rem .4rem 0;
        }
    }
}
