html,
body {
    height: 100%;
    font-size: 20px !important;
    font-family:"Helvetica Neue",Helvetica,'microsoft yahei',sans-serif;
    padding:0;
    margin:0;
}

ul,ol,dl,dd,dt,h1,h2,h3,h4,h5,button{
    padding:0;
    margin:0;
}

button,a,input,select,input:focus{
    outline:0 none;
    -webkit-appearance:none;
}

.md-button{
    box-shadow:0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12)
    background-color:rgba(158,158,158,.2)
    padding:.4rem .5rem
    border:0 none
}

.md-card{
    background-color:#FFF
    box-shadow:0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12)
}

.md-data-table{
    box-shadow:0 2px 2px 0 rgba(0,0,0,.14),
    0 3px 1px -2px rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12)
    border:1px solid rgba(0,0,0,.12)
    border-collapse:collapse
    white-space:no-wrap
    background-color:#FFF
    font-size:.7rem
    thead{
        vertical-align:middle
    }
    tbody{
        vertical-align:middle
    }
    th{
        padding:.4rem .5rem
        text-align:center
    }
    td{
        text-align:center
        border-top:1px solid rgba(0,0,0,.12)
        border-bottom:1px solid rgba(0,0,0,.12)
        padding:.4rem .5rem
        box-sizing:border-box
    }
}