html,
body {
    height: 100%;
    font-size: 32px !important;
    font-family:"Helvetica Neue",Helvetica,'microsoft yahei',sans-serif;
    padding:0;
    margin:0;
}

ul,ol,dl,dd,dt,h1,h2,h3,h4,h5,button{
    padding:0;
    margin:0;
}

button,a,input,select,input:focus{
    outline:0 none;
}