@import "../common/example";
@import "../common/md";
.sticky-example{
    px2px("font-size",14)
    .sticky-bottom{
        line-height:px2rem(35);
        background-color:#F8F8F8;
        border-top:px2rem(1) solid #DEDEDE;
        padding:0 0 0 px2rem(8);
    }
}