@import "../../src/theme/dropdown.styl"
@import "../../src/theme/selected.styl"

.form-row{
    padding:1rem 0.5rem;
    clear:both;
    &>label{
        float:left;
    }
    &>.yaui-selected{
        float:left;
        padding:0 0 0 0.5rem;
    }
}

