@import "../common/example"
@import "../../src/theme/dropdown.styl"
@import "../../src/theme/selected.styl"
.selected-example{
    font-size:.7rem;
}
.form-row{
    padding:.4rem 0.5rem
    max-width:16rem
    display:flex
    justify-content:center
    align-items:center
    &>label{
        width:30%;
    }
    &>div{
        width:70%;
        padding:0 0 0 0.5rem;
    }
}

